body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NAVBAR */

.mainWindow {
  /* margin: 10px; */
  /* border-radius: 15px; */
  border: 1px solid #333;
  background-color: #EEE;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.navbar {
  width: auto;
  padding: 15px;
  display: flex;
  background-color: #333;
  color: white;
  font-size: large;
  align-items:center;
  justify-content: space-between;
  border: 1px solid #333;
  /* border-radius: 10px 10px 0 0 ;   */
}
.navbar p {
  margin: 0px;
}
.navbar div {
  display: flex;
}

.navbar div p,label {
  display: block;
  font-size: small;
  margin: 10px;
  cursor: pointer;
}
.navbar div p:hover {
  text-decoration: underline;
}


/* TABEL CONTAINER */

.tablesContainer {
  display: flex;  
  width: 80%;
  margin: auto;
  flex-wrap:wrap;
}

.table-wrapper {
  /* width: 200px;     */
  min-width: 200px;
  max-width: 200px;
  padding: 0px;
  margin: 20px;
}

.table {

  border: 1px solid #333;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: black;
  min-height: 300px;
}

.tableHeading {
  margin: 0px;
  padding: 5px;
  border: 1px solid #333;
  color: white;
  background-color: #333;
}

/* FUNCTION CLASSES */

.draggable {
  margin: 0px;
  padding: 5px;
  display: inline-block;
  background-color: rgb(83, 231, 155);
  color:black;
  cursor: grab;
  border: 1px solid white;
}

.draggable.dragging {
  opacity: 0.3;
  background-color: rgb(131, 233, 180);
}
button {
  padding: 20xp;
  margin: 20px 10px;
}

#table0 {
  height: 100%;
}

.upload-bar {
  padding: 0 20px;
  background-color: gray;
}


#saveBtn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
}

#saveBtn:hover {
  cursor: pointer;
  background-color: #2b812e; /* Green */
}


